/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ff6699, #9966cc);
    color: white;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  h1, h3 {
    margin: 0;
  }
  
  /* Header Section */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .header-left {
    flex: 2;
   
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  margin: 10px;
  }
  
  .header-image {
    width: 1000px;
    max-width: 2000px;
    height: 500px;
    border-radius: 10px; 
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    margin:20px;
    margin-left: 80px;
    
  }
  
  .title {
    font-size: 25px;
    margin-top: 0px;
    color: black;
    box-sizing: border-box;
    background-color: #ffcc00;
    display: inline-block;
    padding-right: 600px;
    padding: 5px;
    margin: 0; 
    line-height: 1.2;
    

   
  }
  
  .subtitle {
    font-size: 20px;
    color: #000000;
    background-color: #ffcc00;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    margin: 0; 
    line-height: 1.5;
  }
  
  .header-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .price-card {
    background: #ffcc00;
   padding-left: 80px;
   padding-right: 80px;
   padding-top: 50px;
   padding-bottom: 50px;
    margin-right: 105px;
    margin-bottom: 70px;
    margin-top: 0px;
    margin-left: 50px;
    text-align: center;
    border-radius: 5px;
    
    color: black;
  }
  
  .price {
    font-size: 35px;
    margin: 0;
  }
  
  .item {
    font-size: 18px;
    margin: 0;
  }
  
  /* Navigation Bar */
  .nav-bar{
    display: flex;
    justify-content: center;
    /* background: linear-gradient(to bottom, #ff6699, #9966cc); */
    padding: 10px;
  }
  
  .nav-items{
    background: #ffe922;
    margin: 0,15px;
    font-size: 18px;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    color: black;
    margin-left:  10px;
    margin-right: 30px; 
    font-weight: bold;
    margin-top: 20px;
    
  }
  
  /* Info Section */
  .info-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .info-card {
    background: #f1eeee;
    padding: 20px;
    color: #000000;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    margin: 10px;
    
  }
  
  .info-icon {
    width: 20px;
    margin-bottom: 10px;
  }
  